.Header {
    background-color: ghostwhite;
    padding-bottom: 0px;
}

.HangRightTitle {
    text-align: center;
}

.VertCenter {
    vertical-align: middle;
}

.Card {
    margin-bottom: 2em;
    box-shadow: 0 2px 2px #ccc;
}

.CardSubTitle {
    border-bottom: 1px solid #eee;
    max-width: 80%;
}